@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;

}


body{
    background-color: rgb(251, 247, 247);
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:0 50px;
}

.logo{
    margin-right: 60px;
    font-size: 26px;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.nav2 a{

    text-decoration: none;
}
.dropbtn {
    background-color: rgb(251, 247, 247);
    color:black;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    color:black;
    min-width: 160px;
   
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
    background-color: white;
}
  

  .register{
    background-color: rgb(251, 247, 247);
    color:black;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .nav2 a{
    padding: 12px 16px;
    color:black;
    text-decoration: none;
}

.left a{
    padding: 12px 16px;
    color:black;
    text-decoration: none;
}



.all{
    margin:0px 50px;
    display:flex;
}

.all .left{
    margin:160px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  
    
}


img{
    width:400px;
    height:550px;
}



.learn button{
    background-color: rgb(251, 247, 247);
    color:black;
    padding: 36px;
    font-size: 6px;
    border: none;
    
}

.left .left1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
   
}

.left h2{
    font-size: 60px;
}
footer .attribution{
    margin:100px 0px 0px 0px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.all .left{
    margin:160px 0px 0px 90px;
}

.all .right{
    margin:40px 0px 0px 50px;
}